{% extends 'todo/base.html' %}

{% block content %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1 class="display-4">Whats Next on the Agenda?</h1>
            <p>Time stops for no one. So, when you have a million different things to do, it feels overwhelming. But, you just have to take it one step at a time, one todo at a time. We created <b>What Todo?</b> to help you make sense of all of your opportunities and responsibilities. Simply log in to see <u>What Todo</u> next.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'usersignup' %}">Start Now</a>
        </div>
    </div>

{% endblock %}